/*
.middle-container{
  border-style: solid;
  background-color: blue;
  height: 100vh
}*/

.album-container {

}

.single-container {
    border-style: solid;
}



.album {
    background-color: orange;
    margin:10px;
    margin-top:15px;
}

.album img {
    width: 100px;
    height: 100px;
}

.equipment-container {
    background-color: purple;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: white;
}

.page-header {
    background-color: yellow;
}

.page-footer {
    background-color: #2c495b;
    color: #fff;
    opacity: .9;
}

.promo-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.promo-container img {
    max-width: 100%;
}

.bold-white {
    font-weight: bold;
    color: white;
}

.title-container {
    background-color: #2c495b;
}

.global_sprite {
    background-position: 0 -81px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    width: 55px;
    height: 55px;
    border: none;
    margin-left: 5px;
}

.navbar {
    background-color: #2c495b;
    color: white;
}
.vertical-text {

transform: rotate(-90deg);
transform-origin: 50% 50%;

}

.list-header{
    background-color: #2c495b;
    height:110px;
    width: 100%;
    float: right;
}

p{
    font-size: 18px;
    display: flex;
white-space: normal;
word-break: break-word;
}